@import 'mixins';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html,
body {
   min-height: 100vh;
   color: #565656;
   font-size: 16px;
   font-family: 'Lato-Regular', sans-serif;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
}

.header {
   padding: 20px 0;

   &__content {
      padding: 20px 0;
   }

   &__content {
      @include flex (space-between, center, row, none);
   }
}

@media screen and (max-width: 992px) {
   .container {
      max-width: 700px;
   }

   .content__description {
      max-width: 350px;
   }

   .nav {
      display: none;
   }
}

@media screen and (max-width: 768px) {
   .blog__title {
      text-align: center;
   }

   .content__block {
      flex-wrap: wrap;
      gap: 20px;
   }

   .content__img_item {
      max-width: 350px;
   }

   .baner__title title {
      font-size: 36px;
   }
}

@media screen and (max-width: 600px) {
   .baner__title title {
      font-size: 30px;
   }
}

.menu {
   @include flex (none, center, row, 42px);
   list-style: none;

   &__item {
      position: relative;

      &:hover::after {
         content: "";
         position: absolute;
         width: 40px;
         border: 1px solid #000000;
         bottom: -5px;
         left: 50%;
         transform: translateX(-50%);
      }
   }

   &__link {
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: #000000;
   }
}

.section {
   margin-bottom: 90px;
}

.baner {
   background: url(../assets/img/bg-image.jpg)center center/contain no-repeat;
   background-size: 100% 100%;

   &__title {
      max-width: 770px;
      padding: 100px 0 380px;
   }
}

.title {
   font-family: 'Red Hat Display';
   font-weight: 600;
   font-size: 48px;
   line-height: 64px;
   letter-spacing: 0.05em;
   color: #000000;
}

.blog {
   &__title {
      font-family: 'Red Hat Display';
      font-weight: 400;
      font-size: 48px;
      line-height: 64px;
      letter-spacing: 0.05em;
      color: #000000;
      margin-bottom: 50px;
   }
}

.content {
   color: #7B7B7B;

   &__block {
      @include flex (none, center, row, 30px);
      margin-bottom: 50px;

      &-revers {
         flex-direction: row-reverse;
      }
   }

   &__img_item {
      min-width: 100%;
   }

   &__suptitle {
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.1em;
      margin-bottom: 22px;
   }

   &__title {
      font-family: 'Red Hat Display';
      font-weight: 500;
      font-size: 23px;
      letter-spacing: 0.1em;
      color: #000000;
      margin-bottom: 23px;
   }

   &__date {
      font-weight: 400;
      letter-spacing: 0.1em;
      margin-bottom: 50px;
   }

   &__text {
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.05em;
   }
}

.description {
   padding: 85px 0;
   line-height: 166%;
}